.container {
  display: flex;
  padding: 0 10px;
  flex-direction: column;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: #222222;
    cursor: pointer;

    .dk-info {
      display: flex;
      flex: 1;
      flex-direction: column;

      .name,
      .ip {
        color: #222222;
        font-weight: bold;
      }

      .name {
        height: 15px;
        line-height: 15px;
      }

      .ip {
        height: 10px;
        line-height: 10px;
        margin-top: 5px;
        font-weight: normal;
        color: #555555;
      }
    }

    .status {
      width: 8px;
      display: table-cell;
      vertical-align: middle;
      margin-right: 10px;

      .text {
        color: #fff;
        height: 8px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .operation {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .total {
      flex: 1;
      height: 30px;
      line-height: 30px;
    }

    .button {
      float: right;
    }
  }

  .list-container {
    .edit {
      display: flex;
      height: 40px;
      align-items: center;
      background: #F3F3F3;
      border-radius: 2px 2px 0px 0px;

      .text {
        padding-left: 5px;
      }

      div {
        padding-right: 20px;
      }

      .upgrade,
      .reload,
      .cancel {
        cursor: pointer;
      }
    }

    flex: 1;
    padding-bottom: 25px;

    .nodata {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .img {
        background: url("../../assets/no-data.png");
        background-size: 75px 52px;
        width: 75px;
        height: 52px;
      }

      .text {
        padding-top: 10px;
        color: #555555;
        text-align: center;
      }
    }
  }

  .disable-dca {
    color: #dfdfdf;
    background: #fcfbfb;
    cursor: default;

    .name,
    .ip {
      color: #dfdfdf;
    }
  }

  .active {
    background: #EFF1F3;
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;

    .search-input {
      height: 30px;
      line-height: 30px;
      border-radius: 2px;
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
    }
  }

  .nodata {
    text-align: center;
    padding-top: 50px;
  }

  .loading {
    background-color: red;
  }

  .item-total {
    color: #555555;
    height: 24px;
    width: 200px;
    padding-left: 8px;
    line-height: 24px;
  }
}