
[inputs.docker]
    # Docker server host
    # To use TCP, set endpoint = "tcp://[ip]:[port]"
    endpoint = "unix:///var/run/docker.sock"

    collect_metric = false  # enable metric collect
    collect_object = true   # enable object collect
    collect_logging = true  # enable logging collect

    collect_metric_interval = "10s"

    # If enabled, collect exited container info
    include_exited = false

    ## param type: string - optional: TLS Config
    # tls_ca = "/path/to/ca.pem"
    # tls_cert = "/path/to/cert.pem"
    # tls_key = "/path/to/key.pem"
    ## param type: boolean - optional: Use TLS but skip chain & host verification
    # insecure_skip_verify = false

    ## Logging filter(if collect_logging enabled)
    #[[inputs.docker.logfilter]]
        # filter_message = [
        #   '''<this-is-message-regexp''',
        #   '''<this-is-another-message-regexp''',
        # ]

        # source = "<your-source-name>"
        # service = "<your-service-name>"
        # pipeline = "<pipeline.p>"

    [inputs.docker.tags]
    # some_tag = "some_value"
    # more_tag = "some_other_value"
