
[inputs.kubernetes]
  # URL for the Kubernetes API, tls 6443 or proxy 8080
  kube_apiserver_url = "http://127.0.0.1:8080/metrics"

  ## Optional TLS Config
  # tls_ca = "/path/to/ca.pem"
  # tls_cert = "/path/to/cert.pem"
  # tls_key = "/path/to/key.pem"
  ## Use TLS but skip chain & host verification

  [inputs.kubernetes.tags]
    # tags1 = "value1"
