.idea/
.vscode/
.DS_Store
proxy_config.yaml
pub
a.out
*.exe
bin/
pkg/
cmd/
test.go
build/
agent-client/
builds/
*.ak
old/
*.tar.gz
git/git.go
oss/*
version
install.sh
*.log
config.d/
datakit
test/
conf.d/
agent.conf
agent.pid
agent_linux
datakit.conf
docker/agent
docker/datakit

