.docs/
.DS_Store
.idea/
.orig
.vscode/
*-packr.go
*.o
*.ak
*.bak
*.csv
*.err
*.log
*.out
*.pyc
*.rpm
*.tar.gz
*.yaml
*.zip
install_local.sh
install.sh
install.ps1
**build/
ag.sh
agent_linux
agent.conf
agent.pid
b.sh
cfg.json
china-operator-ip
cmd/installer/bin/
config.d/
config.json
data/*
data/iploc.bin
data/jolokia-jvm-agent.jar
datakit.conf
deps/*
dist/
dk-installer
docker/agent
docker/datakit
embed/*
git/git.go
gram_y.go
gram_y.go
install_local.sh
install.ps1
install.sh
internal/http/req.db
iploc.bin
liu_script.sh
old/
parser_y.go
pipeline/parser/parser.y.go
pipeline/parser/parser.y.go
plugins/external/csv/__tmp
plugins/external/csv/venv
plugins/externals/csv/venv
plugins/input/kubernetes/*.out
plugins/input/kubernetes/cfg.conf
plugins/input/kubernetes/pki/*
proxy_config.yaml
pub
replace.sh
run_mac.sh
run.s
run.sh
test.conf
test.go
test.jso
test.output
y.output
samples/*
measurements-meta.json