
[[inputs.memcached]]
	## 服务器地址，可支持多个
	servers = ["localhost:11211"]
	# unix_sockets = ["/var/run/memcached.sock"]

	## 采集间隔
	# 单位 "ns", "us" (or "µs"), "ms", "s", "m", "h"
	interval = "10s"

	[inputs.memcached.tags]
	# a = "b"
