
[[inputs.mysql]]
    host = "localhost"
    user = "datakit"
    pass = "<PASS>"
    port = 3306
    # sock = "<SOCK>"
    # charset = "utf8"

    ## @param connect_timeout - number - optional - default: 10
    # connect_timeout = 10

    ## @param service - string - optional
    # service = "<SERVICE>"

    interval = "10s"

    ## @param inno_db
    innodb = false

    [inputs.mysql.log]
    # required, glob logfiles
    files = ["/var/log/mysql/*.log"]

    # glob filteer
    ignore = [""]

    # optional encodings:
    #    "utf-8", "utf-16le", "utf-16le", "gbk", "gb18030" or ""
    character_encoding = ""

    # The pattern should be a regexp. Note the use of '''this regexp'''
    # regexp link: https://golang.org/pkg/regexp/syntax/#hdr-Syntax
    match = '''^(# Time|\d{4}-\d{2}-\d{2}|\d{6}\s+\d{2}:\d{2}:\d{2}).*'''

    # grok pipeline script path
    pipeline = "mysql.p"

    # [[inputs.mysql.custom_queries]]
    #     sql = "SELECT foo, COUNT(*) FROM table.events GROUP BY foo"
    #     metric = "xxxx"
    #     tagKeys = ["column1", "column1"]
    #     fieldKeys = ["column3", "column1"]

    [inputs.mysql.tags]
    # tag1 = val1
    # tag2 = val2
