#
# systemd serivce setting
#
[Unit]
Description=cloudcare datakit
After=network.target

[Service]
Environment=HOME=/root
WorkingDirectory=/usr/local/cloudcare/forethought/datakit
ExecReload=/bin/kill -2 $MAINPID
KillMode=control-group
Restart=on-failure
ExecStart=/usr/local/cloudcare/forethought/datakit/datakit --config /usr/local/cloudcare/forethought/datakit/datakit.conf

[Install]
WantedBy=default.target
