
#[inputs.aliyunprice]
#access_key_id = ''
#access_key_secret = ''
#region_id = ''

#[[inputs.aliyunprice.ecs]]

# ##(optional) custom metric name，default is 'aliyun_price'
#metric_name = ''

# ##(optional) collect interval，default is one day
#interval = '1d'

# ##(required) cllect PayAsYouGo price, default is false
#pay_as_you_go = false

# ##(required) ecs instance region
#region = "cn-hangzhou-dg-a01"

# ##(required) ecs instance
#instance_type = 'ecs.g5.xlarge'

# ##(required) ecs instance catalog
#instance_type_family = 'ecs.g5'

# ##(required) ecs instance os
#image_os = "linux"

# ##(required) system disk category
#system_disk_category = 'cloud_ssd'

# ##(required) system disk size, unit is GB, range:20-500
#system_disk_size = 20

# ##(required) whether bandwidth pay by traffic
#pay_by_traffic = false

# ##(required) for fixed bandwidth, is the vale; for pay by traffic, is the max value. unit is kbps
#internet_max_bandwidth_out = 1024

# ##(optional)Purchase duration, default is 1, so if unit is Year, then is one year
#service_period_quantity = 1

# ##(optional)unit of purchase duration: Month，Year, defalut is Year
#service_period_unit = "Year"

# ##(optional)Purchase quantity, default is 1
#quantity = 1

# ##(optional)data disk configuration
#[[inputs.aliyunprice.ecs.data_disks]]
# ##data disk category
#data_disk_category = 'cloud_ssd'

# ##data disk size, unit is GB
#data_disk_size = 40

#[[inputs.aliyunprice.rds]]

# ##(optional) custom metric name, default is aliyun_price
#metric_name = ''

# ##(optional) collect interval, default is one day
#interval = '1d'

# ##(required) cllect PayAsYouGo price, default is false
#pay_as_you_go = false

# ##(required) instance region
#region = "cn-hangzhou"

# ##(required) database, eg., mysql, mssql, PostgreSQL, PPAS, MariaDB
#engine = 'mysql'

# ##(required) database version
#engine_version = '8.0'

# ##(required) database series
# ## AlwaysOn
# ## HighAvailability
# ## Finance
# ## Basic
#series = 'Basic'

# ##(required) storage type
# ## local_ssd
# ## cloud_essd
# ## cloud_ssd
# ## cloud_essd2
# ## cloud_essd3
#db_instance_storage_type = 'cloud_ssd'

# ##(required) storage size, unit is GB
#db_instance_storage = 20

# ##(required) instance
#db_instance_class = 'mysql.n2.medium.1'

# ##(optional) network type, 0:classic, 1:dedicated
#db_network_type = 0

# ##(optional)Purchase duration, default is 1, so if unit is Year, then is one year
#service_period_quantity = 1

# ##(optional)unit of purchase duration: Month，Year, defalut is Year
#service_period_unit = "Year"

# ##(optional)Purchase quantity, default is 1
#quantity = 1

#[[inputs.aliyunprice.eip]]

# ##(optional) custom metric name, default is aliyun_price
#metric_name = ''

# ##(optional) collect interval, default is one day
#interval = '1d'

# ##(required) cllect PayAsYouGo price, default is false
#pay_as_you_go = false

# ##(required) region
#region = 'cn-hangzhou'

# ##(required) bandwidth, unit is MB
# ## for pay_as_you_go, ignored when internet_charge_type=1
#bandwidth = 1

# ##(required) traffic type, only for pay_as_you_go=true
# ## 0:fixed bandwidth, 1:by used traffix, if true ignore bandwidth
#internet_charge_type = 0

# ##(optional) only for pay_as_you_go=true, default is BGP
#isp = 'BGP'

# ##(optional)Purchase duration, default is 1, so if unit is Year, then is one year
#service_period_quantity = 1

# ##(optional)unit of purchase duration: Month，Year, defalut is Year
#service_period_unit = "Year"

# ##(optional)Purchase quantity, default is 1
#quantity = 1

#[[inputs.aliyunprice.slb]]

# ##(optional) custom metric name, default is aliyun_price
#metric_name = ''

# ##(optional) collect interval, default is one day
#interval = '1d'

# ##(required) cllect PayAsYouGo price, default is false
#pay_as_you_go = false

# ##(required) instance region
#region = "cn-hangzhou"

# ##(required) instance
#load_balancer_spec = 'slb.s1.small'

# ##(required) bandwidth, unit is MB
#bandwidth = 6

# ##(required) billing type
# ## 0:by fixed bandwidth
# ## 1:by traffic
#internet_traffic_out = 0

# ##(required) if private net, default is false
#private_net = false

# ##(optional)Purchase duration, default is 1, so if unit is Year, then is one year
#service_period_quantity = 1

# ##(optional)unit of purchase duration: Month，Year, defalut is Year
#service_period_unit = "Year"

# ##(optional)Purchase quantity, default is 1
#quantity = 1
