@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v8j7dz');
  src:  url('fonts/icomoon.eot?v8j7dz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v8j7dz') format('truetype'),
    url('fonts/icomoon.woff?v8j7dz') format('woff'),
    url('fonts/icomoon.svg?v8j7dz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fth-iconfont-"], [class*=" fth-iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fth-iconfont-more:before {
  content: "\e900";
}
.fth-iconfont-Update:before {
  content: "\e901";
}
.fth-iconfont-trash:before {
  content: "\ea7f";
}
.fth-iconfont-add:before {
  content: "\ea80";
}
.fth-iconfont-delete:before {
  content: "\ea81";
}
.fth-iconfont-play1:before {
  content: "\ea82";
}
.fth-iconfont-export-1px1:before {
  content: "\ea62";
}
.fth-iconfont-Operation:before {
  content: "\ea63";
}
.fth-iconfont-configured:before {
  content: "\ea64";
}
.fth-iconfont-essential-information1:before {
  content: "\ea65";
}
.fth-iconfont-list-number1:before {
  content: "\ea66";
}
.fth-iconfont-Sample:before {
  content: "\ea67";
}
.fth-iconfont-copy1:before {
  content: "\ea68";
}
.fth-iconfont-sample:before {
  content: "\ea69";
}
.fth-iconfont-refresh1:before {
  content: "\ea6a";
}
.fth-iconfont-test1:before {
  content: "\ea6b";
}
.fth-iconfont-clone1:before {
  content: "\ea6c";
}
.fth-iconfont-return1:before {
  content: "\ea6d";
}
.fth-iconfont-error1:before {
  content: "\ea6e";
}
.fth-iconfont-Sign-in:before {
  content: "\ea6f";
}
.fth-iconfont-Sign-out:before {
  content: "\ea70";
}
.fth-iconfont-account1:before {
  content: "\ea71";
}
.fth-iconfont-mobilephone1:before {
  content: "\ea72";
}
.fth-iconfont-password1:before {
  content: "\ea73";
}
.fth-iconfont-Verification-Code:before {
  content: "\ea74";
}
.fth-iconfont-Disable:before {
  content: "\ea75";
}
.fth-iconfont-edit21:before {
  content: "\ea76";
}
.fth-iconfont-Enable1:before {
  content: "\ea77";
}
.fth-iconfont-help2:before {
  content: "\ea78";
}
.fth-iconfont-notes:before {
  content: "\ea79";
}
.fth-iconfont-Reload1:before {
  content: "\ea7a";
}
.fth-iconfont-save:before {
  content: "\ea7b";
}
.fth-iconfont-search:before {
  content: "\ea7c";
}
.fth-iconfont-success21:before {
  content: "\ea7d";
}
.fth-iconfont-warning31:before {
  content: "\ea7e";
}
