
[[inputs.external]]
	daemon = true
	name = 'oracle'
	cmd  = "/usr/local/cloudcare/dataflux/datakit/externals/oracle"
	args = [
		'--interval'       , '1m'                        ,
		'--host'           , '<your-oracle-host>'        ,
		'--port'           , '1521'                      ,
		'--username'       , '<oracle-user-name>'        ,
		'--password'       , '<oracle-password>'         ,
		'--service-name'   , '<oracle-service-name>'     ,
		'--query'          , '<sql:metricName:tags>'     ,
	]
	envs = [
		'LD_LIBRARY_PATH=/opt/oracle/instantclient_19_8:$LD_LIBRARY_PATH',
	]

	#############################
	# 参数说明(标 * 为必选项)
	#############################
	# *--interval       : 采集的频度，最小粒度5m
	# *--host           : oracle实例地址(ip)
	#  --port           : oracle监听端口
	# *--username       : oracle 用户名
	# *--password       : oracle 密码
	# *--service-name   : oracle的服务名
	# *--query          : 自定义查询语句，格式为<sql:metricName:tags>, sql为自定义采集的语句, tags填入使用tag字段
