
[[inputs.traceZipkin]]
  #	pathV1 = "/api/v1/spans"
  #	pathV2 = "/api/v2/spans"

  ## trace sample config, sample_rate and sample_scope together determine how many trace sample data will send to io
  # [inputs.traceZipkin.sample_config]
    ## sample rate, how many will be sampled
    # rate = 15
    ## sample scope, the range to sample
    # scope = 100
    ## ignore tags list for samplingx
    # ignore_tags_list = []

  # [inputs.traceZipkin.tags]
    # tag1 = "tag1"
    # tag2 = "tag2"
    # ...
