
#[[inputs.huaweiyunces]]
# ##(required)
#access_key_id = ''
#access_key_secret = ''

# ##(optional) default is 5min
#interval = '5m'

# ##(optional) default is 1min, should not more then interval
#delay = '1m'

# ##(optional) control the frequency of huaweiyun api call in every second, the minimum is 1 and the maximum is 1000. default is 20
#api_frequency = 20

# ##(optional) specify the project ids to collect. default will apply to all projects
#projectids = [
#	'614439cb10ad4bdc9f3b0bc8xxx',
#	'214439cb10ad4bdc9f3b0bc8xxx'
#]

# ##(optional) defaultly will collect all available metrics, you can specify the metrics of namespaces
# ##each string specify the metric names of one namespace, separate by ':', if no metric name, collect all metrics of this namespace
# metrics = [
#'SYS.ECS',
#'SYS.OBS:download_bytes,upload_bytes',
# ]

# ##(optional) exclude some metrics that you not want
# exclude_metrics = [
#'SYS.ECS',
#'SYS.OBS:download_bytes,upload_bytes',
# ]

# ##(optional) mapping projectId to regionId, eg. mapping 0747621b760026a52f02c009e91xxxx to cn-north-1
# ##supported regionIds:
# ##"af-south-1"
# ##"cn-north-4"
# ##"cn-north-1"
# ##"cn-east-2"
# ##"cn-east-3"
# ##"cn-south-1"
# ##"cn-southwest-2"
# ##"ap-southeast-2"
# ##"ap-southeast-1"
# ##"ap-southeast-3"
#[inputs.huaweiyunces.project_regions]
#projectId1 = 'regionId1'

# ##(optional) custom tags
#[inputs.huaweiyunces.tags]
#key1 = 'val1'

# ##(optional) specify the collect option for some metrics
#[[inputs.huaweiyunces.property]]
#metric = 'SYS.ECS'
#interval = '10m'
#delay = '5m'
#period = 300
#filter = 'max'
#dimension = [
#     'instance_id,694244a4-659e-4931-8e72-9e90993xxxx'
#]
