body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  height: 100%;
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.ant-form-item .site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.ant-btn-primary {
  background-color: #2F61CC;
  border-color: #2F61CC;

  &:hover,
  &:active,
  &:focus {
    background-color: #1b4db7;
    border-color: #2F61CC;
    color: #fff;
  }

  &:not(:disabled):active {
    background-color: #1b4db7;
    border-color: #2F61CC;
  }
}

.ant-btn-default {

  &:not(:disabled):active {
    border-color: #2F61CC;
    color: #2F61CC
  }
}

// editor
.editor {
  overflow-y: auto;
  height: 100%;

  .CodeMirror {
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    font-family: Menlo, Monaco, monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
  }

  .CodeMirror-lines {
    padding: 0;
  }

  .CodeMirror-linenumber {
    padding-right: 12px;
  }

  .CodeMirror-gutter-background {
    color: #333;
  }

  .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.05) !important;
  }

  .cm-notelink {
    font-style: italic;
    font-weight: bold;
    color: #0daba3;
  }
}