
[[inputs.cloudprober]]
	# Cloudprober 默认指标路由（prometheus format）
	url = "http://localhost:9313/metrics"
	# ##(optional) collection interval, default is 30s
	# interval = "30s"
	## Optional TLS Config
	# tls_ca = "/xxx/ca.pem"
	# tls_cert = "/xxx/cert.cer"
	# tls_key = "/xxx/key.key"
	## Use TLS but skip chain & host verification
	insecure_skip_verify = false
	[inputs.cloudprober.tags]
	# a = "b"