
[[inputs.dialtesting]]
  # 中心任务存储的服务地址，或本地json 文件全路径
  #server = "files:///your/dir/json-file-name"
  #server = "https://dflux-dial.dataflux.cn"

  # require，节点惟一标识ID
  region_id = "default"

  # 若server配为中心任务服务地址时，需要配置相应的ak或者sk
  ak = ""
  sk = ""

  pull_interval = "1m"

  [inputs.dialtesting.tags]
  # some_tag = "some_value"
  # more_tag = "some_other_value"
  # ...