
[[inputs.postgresql_replication]]
    # required
    host="127.0.0.1"

    # required
    port=25432

    # postgres user (need replication privilege)
    # required
    user="<your-user>"

    # required
    password="<your-password>"

    # required
    database="<your-database>"

    # if table is empty, default collect all table.
    table="<your-table>"

    # category only accept "metric" and "logging"
    # if category is invalid, default use "metric"
    category = "metric"

    # there are 3 events: "INSERT","UPDATE","DELETE"
    # required
    events=["INSERT"]

    # tags
    tag_colunms=[]

    # fields. required
    field_colunms=["fieldName"]

    # [inputs.postgresql_replication.tags]
    # tags1 = "value1"
