
[[inputs.ddtrace]]
  # 此路由建议不要修改，以免跟其它路由冲突
  path = "/v0.4/traces"

  ## Tracing data sample config, [rate] and [scope] together determine how many trace sample data
  ## will be send to DataFlux workspace.
  ## Sub item in sample_configs list with priority 1.
  # [[inputs.ddtrace.sample_configs]]
    ## Sample rate, how many tracing data will be sampled.
    # rate = 10
    ## Sample scope, the range that will consider to be covered by sample function.
    # scope = 100
    ## Ignore tags list, tags appear in this list is transparent to sample function that means will always be sampled.
    # ignore_tags_list = []
    ## Sample target, program will search this [tag, value] pair for sampling purpose.
    # [inputs.ddtrace.sample_configs.target]
    # env = "prod"

  ## Sub item in sample_configs list with priority 2.
  # [[inputs.ddtrace.sample_configs]]
    ## Sample rate, how many tracing data will be sampled.
    # rate = 100
    ## Sample scope, the range that will consider to be covered by sample function.
    # scope = 1000
    ## Ignore tags list, tags appear in this list is transparent to sample function that means will always be sampled.
    # ignore_tags_list = []
    ## Sample target, program will search this [tag, value] pair for sampling purpose.
    # [inputs.ddtrace.sample_configs.target]
    # env = "dev"

  ## ...

  ## Sub item in sample_configs list with priority n.
  # [[inputs.ddtrace.sample_configs]]
    ## Sample rate, how many tracing data will be sampled.
    # rate = 10
    ## Sample scope, the range that will consider to be covered by sample function.
    # scope = 100
    ## Ignore tags list, tags appear in this list is transparent to sample function that means will always be sampled.
    # ignore_tags_list = []
    ## Sample target, program will search this [tag, value] pair for sampling purpose.
    ## As general, the last item in sample_configs list without [tag, value] pair will be used as default sample rule
    ## only if all above rules mismatched, so that this pair shoud be empty.
    # [inputs.ddtrace.sample_configs.target]

	## customer tags
  # [inputs.ddtrace.tags]
    # some_tag = "some_value"
    # more_tag = "some_other_value"
    ## ...
