
[[inputs.cloudflare]]
    # cloudflare login email
    # required
    email = ""

    # service zone id
    # required
    zone_id = ""

    # api key
    # required
    api_key = ""

    # valid time units are "m", "h"
    # required
    interval = "24h"

    # [inputs.cloudflare.tags]
    # tags1 = "value1"
