
[[inputs.ddtrace]]
  # 此路由建议不要修改，以免跟其它路由冲突
  path = "/v0.4/traces"

  ## trace sample config, sample_rate and sample_scope together determine how many trace sample data will send to DataFlux workspace.
  # [inputs.ddtrace.sample_config]
    ## sample rate, how many will be sampled
    # rate = 15
    ## sample scope, the range to sample
    # scope = 100
    ## ignore tags list for samplingx
    # ignore_tags_list = []

  # [inputs.ddtrace.tags]
    # some_tag = "some_value"
    # more_tag = "some_other_value"
    ## ...
