[[inputs.docker]]
    # Docker Endpoint
    # To use TCP, set endpoint = "tcp://[ip]:[port]"
    # To use environment variables (ie, docker-machine), set endpoint = "ENV"
    endpoint = "unix:///var/run/docker.sock"

    ## Timeout for docker list, info, and stats commands
    timeout = "5s"

    # 采集间隔时长，数字+单位，有效的时间单位 "ns", "us" (or "µs"), "ms", "s", "m", "h"
    # 不可以小于等于 0，必须在 5m 到 1h 之间，否则使用默认 5m
    metrics_interval = "10s"
    object_interval = "5m"

    ## Optional TLS Config
    # tls_ca = "<your-path>/ca.pem"
    # tls_cert = "<your-path>/cert.pem"
    # tls_key = "<your-path>/key.pem"
    ## Use TLS but skip chain & host verification
    # insecure_skip_verify = false

    # 自定义 tags
    # [inputs.docker.tags]
    # tags1 = "tags1"
