.blacklist-container {
    padding-top: 5px;
    padding-left: 10px;
    height: 100%;

    .setting {
        display: flex;
        border: 1px solid #e1e4e8;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        border-bottom: none;
        padding-right: 12px;

        .path {
            color: #888888;
            max-width: 800px;
            padding-left: 15px;
        }


    }

    .content {
        background: #f9f9f9;
        border: 1px solid #e1e4e8;
        margin-bottom: 10px;
        padding: 10px;
        padding-bottom: 10px;
        height: calc(100% - 30px);

        .CodeMirror {
            height: 500px;
        }
    }
}